<div class="container">

  <div class="card">

     <app-header
     [titulo]="nm_titulo"
     [form]="componente+'form'"
     [fl_list]="true"
     >
     </app-header>


    <table class="custom-table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descrição</th>
        <th>Conta</th>
        <th>Status</th>
        <th>Valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of objetos">
        <td>{{ item.cd_lancamento }}</td>
        <td>
          {{
            this.baseService.getNomeRelacionado('id_conta', item.id_conta, 'conta', 'id_conta', 'nm_conta', this.relacionadoObjeto)
          }}
        </td>
        <td>
          {{
            this.baseService.getNomeRelacionado('id_statuslancamento', item.id_statuslancamento, 'statuslancamento', 'id_statuslancamento', 'ds_statuslancamento',  this.relacionadoObjeto)
          }}
        </td>
        <td>{{ item.ds_lancamento }}</td>
        <td>{{ item.vl_lancamento | currency:'BRL' }}</td>
        <td>
          <a type="button" (click)="onEdit(item)" title="editar" class="btn-editar">
            <i class="bi bi-pencil-square"></i>
          </a>

          <a (click)="onDelete(item)" class="btn-deletar">
            <i class="bi bi-trash-fill"></i>
          </a>

        </td>
      </tr>
    </tbody>
  </table>

  </div>

</div>
