<nav class="custom-navbar dark">
  <div class="navbar-container">
    <a class="navbar-brand" [routerLink]="['/admin/dashboard']">
      <i class="bi bi-cloudy-fill"></i>
      <span>Sistema</span>
    </a>

    <button class="navbar-toggle" (click)="menuAberto = !menuAberto">
      ☰
    </button>

    <div class="navbar-links" [class.open]="menuAberto">
      <ul>


        <li class="dropdown" (click)="dropdownAberto = !dropdownAberto" [class.active]="dropdownAberto">
          <a href="#" (click)="$event.preventDefault()">
            Opção
            <i class="bi bi-caret-down-fill"></i>
          </a>
          <ul class="dropdown-menu" *ngIf="dropdownAberto">
            <li><a [routerLink]="['/admin/tipocontalist']"><i class="bi bi-life-preserver"></i> Tipo da conta</a></li>
            <li><a href="#" (click)="sair()"><i class="bi bi-box-arrow-left"></i> Sair</a></li>
          </ul>
        </li>


      </ul>

    </div>
  </div>
</nav>

<router-outlet />
