.scroll-container {
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: $color-bg-body;
  // table-layout: fixed;
}

th {
  padding: 15px 10px;
  text-align: left;
  background-color: $color-input-bg;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #444;
}


td {
  padding: 12px 10px;
  text-align: left;
  font-size: 1rem;
  color: #ccc;
  border-bottom: 1px solid #444;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: $color-bg-body;
}

tr:hover {
  background-color: $color-input-focus-bg;
  cursor: pointer;
}

td:focus,
th:focus {
  outline: none;
  background-color: $color-bg-body;
  color: #fff;
  border: 1px solid #4CAF50;
}

.btn-error i {
  font-size: 1rem;
}

.btn-editar
{
  color: rgb(0, 162, 255);
  font-size: 1.2rem;
  cursor: pointer;

}
.btn-deletar
{
  color: rgb(182, 1, 1);
  font-size: 1.2rem;
  cursor: pointer;

}

/* Responsividade */
@media (max-width: 768px) {

  th
  {
    font-size: 0.7rem;
  }
  td {
    padding: 10px 1px 0px 1px;
    font-size: 0.8rem;
  }

  table {
    font-size: 0.9rem;
  }
}
