<div class="container">
  <div class="card">



     <app-header
     [titulo]="nm_titulo"
     [fl_list]="false"
     >
     </app-header>


    <form action="">
      <div class="row">
        <div class="col-20">
          <app-input-text
          [label]="'Codigo:'"
          [inputId]="'cd_lancamento'"
          [(model)]="objeto.cd_lancamento"
          [required]="true"
        ></app-input-text>
        </div>
        <div class="col-30">
          <app-select
            [label]="'Conta:'"
            [inputId]="'id_conta'"
            [required]="true"
            [(model)]="objeto.id_conta"
            [options]="relacionadoObjeto.conta"
            [valueField]="'id_conta'"
            [labelField]="'nm_conta'"
          >
         </app-select>
        </div>
        <div class="col-30">
          <app-input-date
          [label]="'Data:'"
          [inputId]="'dt_lancamento'"
          [(model)]="objeto.dt_lancamento"
          [required]="true"
          >
          </app-input-date>
        </div>
      </div>

      <div class="row">
        <div class="col-40">
          <app-select
            [label]="'Status:'"
            [inputId]="'id_statuslancamento'"
            [required]="true"
            [(model)]="objeto.id_statuslancamento"
            [options]="relacionadoObjeto.statuslancamento"
            [valueField]="'id_statuslancamento'"
            [labelField]="'ds_statuslancamento'"
          ></app-select>
        </div>
        <div class="col-40">
          <app-input-number
          [label]="'Valor'"
          [inputId]="'vl_lancamento'"
          [(model)]="objeto.vl_lancamento"
          [required]="true"
          >
          </app-input-number>
        </div>
      </div>

      <div class="row">
        <div class="col-100">
          <app-input-textarea
          [label]="'Descricao:'"
          [inputId]="'ds_lancamento'"
          [(model)]="objeto.ds_lancamento"
          [required]="true"
          >
          </app-input-textarea>
        </div>
      </div>



    </form>

    <app-itemlancamentodetalhe
      [(objeto)]= "objeto"
      [itemTemp]= "objetoItemLancamento"
      [nomeItem]="'itemLancamento'"
      [relacionado] = "relacionado"
    >
  </app-itemlancamentodetalhe>

    <div class="row">
        <app-button
           [text]="'Salvar'"
          [type]="'button'"
          [icon]="'bi bi-box-arrow-in-right'"
          [color]="''"
          [backgroundColor]="''"
          (clickEvent)="onSave()">
        >
        </app-button>
    </div>

  </div>
</div>
