<div class="container">
  <div class="card">



     <app-header
     [titulo]="nm_titulo"
     [fl_list]="false"
     >
     </app-header>


    <form action="">
      <div class="row">
        <div class="col-20">
          <app-input-text
          [label]="'Codigo:'"
          [inputId]="'cd_categoria'"
          [(model)]="objeto.cd_categoria"
          [required]="true"
        ></app-input-text>
        </div>
        <div class="col-70">
          <app-input-text
            [label]="'Nome:'"
            [inputId]="'nm_categoria'"
            [(model)]="objeto.nm_categoria"
            [required]="true"
          ></app-input-text>
        </div>
      </div>

      <div class="row">
          <div class="col-50">
            <app-select
             [label]="'Tipo da categoria:'"
            [inputId]="'id_tipocategoria'"
            [required]="true"
            [(model)]="objeto.id_tipocategoria"
            [options]="relacionadoObjeto.tipocategoria"
            [valueField]="'id_tipocategoria'"
            [labelField]="'nm_tipocategoria'"
            >
            </app-select>
          </div>
      </div>

    </form>

    <div class="row">
        <app-button
           [text]="'Salvar'"
          [type]="'button'"
          [icon]="'bi bi-box-arrow-in-right'"
          [color]="''"
          [backgroundColor]="''"
          (clickEvent)="onSave()">
        >
        </app-button>
    </div>

  </div>
</div>
